<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uitools.xiangxuenews">

    <application>
        <activity android:name=".databindingtest.DataBindingTestActivity"></activity>
        <activity android:name=".XxNewsMainActivity" />
    </application>

</manifest>