<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.open.devin.myuitools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.uitools.mylibrary.UiToolApplication"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.leftsidemenu.leftsidemenustyles.SideMenuStyle2Activity"></activity>
        <activity android:name=".animation.PropertyAnimationActivity" />
        <activity android:name=".animation.DrawableAnimationActivity" />
        <activity android:name=".animation.ViewAnimationActivity" />
        <activity android:name=".animation.AnimationDemoActivity" />
        <activity android:name=".momo.MoMoActivity" />
        <activity android:name="com.example.leftsidemenu.leftsidemenustyles.SideMenuStyle1Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".taobaohomepage.TaoBaoHomePageActivity" />
    </application>

</manifest>